$animationSpeed: 400ms;

.compound-panels {
	margin: 0;
	padding: 0;

	&__panel {
		margin: 0;
		list-style-type: none;

		& > button[aria-expanded="false"] ~ .compound-panels__content {
			height: 0px !important;
			transition: height $animationSpeed ease-in-out
		}
	}
	
	&__content {
		padding: 0 2em;
		box-sizing: border-box;
		overflow: hidden;
		transition: height $animationSpeed ease-in-out
	}

	&__title {
		-webkit-appearance: none;
		border: none;
		background-color: #f1f2f2; // gray-lightest
		padding: 7px;
		cursor: pointer;
		width: 100%;
	}
}

// This will come from Bootstrap
.hidden {
	display: none !important;
}
